
  .react-calendar__tile--active {
    background: #f87676 !important;
    color: #fff;
}
.react-calendar__tile--hasActive {
  background: #f87676 !important;
}
.react-calendar__tile--hasActive:hover {
  background: #f87676 !important;
}